body {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

.jumbotron {
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px 0px #FF0000;
}

#top-jumbo {
  padding-top: 10px;
  padding-bottom: 10px
}

.main {
  width: 1280px;
  height: 900px;
  /*border-left: 55;*/
  background-repeat: no-repeat;
}
