body {
  background-image: url('../img/oakland-hazy.jpg');
  /*background-image: url('../img/oakland-cloudy.jpg');*/
  /*background-image: url('../img/oakland-clear.jpg');*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

.jumbotron {
  background-color: transparent;
  /*color: white;*/
  /*text-shadow: 2px 2px 0px #FF0000;*/
}

#top-jumbo {
  padding-top: 10px;
  padding-bottom: 10px
}
